<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间,作用就是对sql进行分类化管理,理解sql隔离
注意:使用mapper代理方法开发,namespace有特殊重要的作用,namespace等于mapper接口地址-->
<mapper namespace="com.brokepal.nighty.login.sys.persist.UserRoleDao">

    <!--mapper作用:为DAO接口方法提供sql语句配置-->

    <sql id="roleUserColumns">
        a.id AS "id",
        a.role_id AS "roleId",
        a.user_id AS "userId"
    </sql>

    <sql id="roleUserJoins">
    </sql>

    <select id="findList" parameterType="UserRole" resultType="UserRole">
        SELECT
        <include refid="roleUserColumns"/>
        FROM t_user_role a
        <include refid="roleUserJoins"/>
        <where>
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="roleId != null and roleId != ''">
                AND a.role_id = #{roleId}
            </if>
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
        </where>
        ORDER BY a.id
    </select>

    <insert id="createRoleUser" parameterType="UserRole">
        INSERT INTO t_user_role (id,role_id,user_id)
        VALUES (#{id},#{roleId},#{userId})
    </insert>
</mapper>
